.art {
	floating:left;
	margin: 10px;
	width: 25%;
	height:400px;
}

.Project{
	floating:left;
	margin: 10px;
	width: 300pc;
	height:400px;

}

.Coursework{
	floating:left;
	margin: 10px;
	width: 300px;
	height:400px;
}
.Blog{
	floating:left;
	margin: 10px;
	width: 300px;
	height:400px;
}
}