.nav-bar {
width: 80%;
height: 50px;
margin: 50;
background: black; }

.nav-bar > .element {
width: 19%;
line-height: 50px;
text-align: center;
color: white;
display: inline-block;
margin: 0;
font-family: Arial;
text-decoration: none; }

.nav-bar > .element:hover {
	text-decoration: underline;
}

.content {
	width:80%;
	margin-left:10%;
}